/*pallete*/
$curacao: #3dc1d3;
$summertime: #f5cd79;
$purple: #574b90;

// https://i.postimg.cc/s2p9nr9p/pexels-christina-morillo-1181244.jpg
// https://i.postimg.cc/ydGdcJgn/pexels-christina-morillo-1181263.jpg
// https://i.postimg.cc/s2NQ9Hbp/pexels-christina-morillo-1181275.jpg
